.navbar-brand {
    color: orange !important;
    font-weight: bold;
}


/* TOOLS PAGE STYLING */
.btn.warm{
    background-color: rgb(47, 68, 68) !important; 
    color: antiquewhite !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    width: 150px;
    width: fit-content;
    text-decoration: none;
}

.row-header{
    text-align: right;
    /* background-color: antiquewhite; */
}
.row-value{
    text-align: left;
    /* background-color: bisque; */
    padding-left: 2rem;
}

.form-range{
    width: auto;
}

.flex-container{
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 75%;

}

.flexbox-item{
    border: 2px solid rgb(201, 219, 219);
    padding: 10px;
    margin: 5px;
    margin-top: 10px;
}

.fi1{
    min-width: 100%;
    text-align: center;
    border: 0px;
    color: rgb(47, 100, 107);
}

.modal-content{
    padding: 10px;
}


.refresh:hover{
    background-color: orange !important;
    color: black;
}

.dim_screen{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(88, 88, 88, 0.5);
}

.divElement{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -250px;
    min-width: 100px;
    min-height: 100px;
    background-color: rgb(31, 31, 31);
}​